@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&family=Quicksand:wght@400;500&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

/* Headings */
h1, h2 {
  font-family: 'Orbitron', sans-serif;
}